{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Hydra{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Hydra</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
{% endblock %}`

{% block content %}
<div class="container">

  <h2>Make new instance</h2>
  <form action="{{ url_for('home') }}" method="post">
    {{ wtf.form_field(form.repository) }}
    {{ wtf.form_field(form.branch) }}
    {{ wtf.form_field(form.key) }}
    <button class="btn btn-success" type="submit" title="Submit"><span>Submit</span></button>
    {{ form.csrf_token }}
  </form>

  <h2>Existing instances</h2>
  {% for i in inst %}
  {% if loop.first %}
  <table class="table">
    <thead>
      <tr>
        <th>Repository</th>
        <th>Branch</th>
        <th>Status</th>
        <th>Port</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
  {% endif %}
      <tr>
        <td>{{ i.repository }}</td>
        <td>{{ i.branch }}</td>
        <td>{{ i.status }}</td>
        <td>{{ i.port }}</td>
        <td>
        {% if i.status == "Running" %}
          <form method="POST" action="{{ url_for('kill', id=i.id) }}">
            <a class="btn btn-sm btn-primary" href="{{ i.link }}">View</a>
            <button type="submit" class="btn btn-sm btn-danger">Kill</button>
          </form>
        {% elif i.status == "Killed" or i.status == "Error" %}
          <form method="POST" action="{{ url_for('rebuild', id=i.id) }}">
            <button type="submit" class="btn btn-sm btn-success">Rebuild</button>
          </form>
        {% endif %}
        </td>
      </tr>
  {% if loop.last %}
    </tbody>
  </table>
  {% endif %}
  {% endfor %}
</div>
{% endblock %}
